.geomap {
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(150px, 75%);
  justify-items: center;
}

.geography-div {
  width: 100%;
  margin: 20px;
  min-width: 300px;
  max-width: 800px;
}

.geography {
  stroke: rgb(122, 122, 122);
  stroke-width: 1px;
}

.geography:nth-child(1n) { fill: var(--color1); }
.geography:nth-child(2n) { fill: var(--color2); }
.geography:nth-child(3n) { fill: var(--color3); }
.geography:nth-child(4n) { fill: var(--color4); }
.geography:nth-child(5n) { fill: var(--color5); }
.geography:nth-child(6n) { fill: var(--color6); }
.geography:nth-child(7n) { fill: var(--color7); }
.geography:nth-child(8n) { fill: var(--color8); }
.geography:nth-child(9n) { fill: var(--color9); }
.geography:nth-child(10n) { fill: var(--color10); }