.quiz-text {
    padding: .7em;
    margin: .5em;
}

.score-text {
    text-align: center;
    background-color: var(--container);
    padding: 1em;
}

.play-button, .play-history-button {
    border: none;
    height: 3em;
    padding: 1em;
    margin: 1em;
    font-size: .8em;
    font-family: 'Nunito', sans-serif;
}

.play-button {
    background-color: var(--color6);
}

.play-history-button {
    background-color: var(--color3) ;
}

.quiz-div {
    border: .5px solid black;
    padding: 1.5em;
    margin: 1em;
}

.radio-div {
    display: grid;
}

.radio-span {
    margin-bottom: .5em;
}

.radio {
    margin-right: 2em;
}

.quiz-input {
    border: none;
    padding: .7em;
    width: 7em;
    margin-top: .5em;
}
