/* .user-login {
    display: grid;
    justify-content: center;
    border: 2px solid green;
}

.login-form {
    display: grid;
    justify-content: center;
    background-color: lightgreen;
}

.login-form>div>label>input {
    border: 1px solid blue;
}

.register-form {
    display: grid;
    justify-content: center;
    background-color: yellow;
} */