.login-form {
    display: flex;
    align-items: center;
    margin: .5em;
    padding: 1rem;
}

.login-label {
    margin: .5em;
    font-weight: bold;
    color: var(--color10);
}

.login-email-input {
    height: 2em;
    margin: .5em;
    font-size: 1em;
    color: var(--color10);
    border: 1px solid var(--color5);
}

.login-button {
    border: none;
    background-color: var(--color5);
    color: var(--color1);
    padding: .8em;
    margin: .2em;
}